@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
/* 맨 윗줄에 추가 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@font-face {
  font-family: "Cafe24 PRO Slim";
  src: url("/fonts/Cafe24PROSlimMax.woff2") format("woff2"),
    url("/fonts/Cafe24PROSlimMax.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 스크롤바 완전히 숨기기 (모든 브라우저) */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* ————————————— 타이포 ————————————— */

/* H1 */
.h1-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0;
}

.h1-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0;
}

.h1-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0;
}

/* H2 */
.h2-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0;
}

.h2-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
}

.h2-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
}

/* H3 */
.h3-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0;
}

.h3-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
}

.h3-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

/* H4 */
.h4-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0;
}

.h4-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
}

.h4-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

/* H5 */
.h5-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0;
}

.h5-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.h5-medium {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.h5-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

/* Body */
.body-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0;
}

.body-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
}

.body-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}

/* Footnote */
.footnote-extrabold {
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0;
}

.footnote-bold {
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
}

.footnote-regular {
  font-family: "Pretendard", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.point-eng-h1 {
  font-family: "Bayon", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0;
}

.point-eng-h2 {
  font-family: "Bayon", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
}

.point-eng-h3 {
  font-family: "Bayon", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

.point-eng-h4 {
  font-family: "Bayon", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

.point-eng-h5 {
  font-family: "Bayon", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.point-eng-body {
  font-family: "Bayon", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}

.point-kor-h1 {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
}

.point-kor-h2 {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0;
}

.point-kor-h3 {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
}

.point-kor-h4 {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
}

.point-kor-h5 {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
}

.point-kor-body {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
}

.point-kor-footnote {
  font-family: "Cafe24 PRO Slim", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
}

/* ——————————————————— ▼ Color 토큰들 ▼ ——————————————————— */

/* .Semantic: Color */
:root {
  --fill-alternative: #70737c0d;
  --fill-normal: #70737c14;
  --fill-strong: #70737c29;
  --interaction-disabled: #9b9b9b;
  --line-alternative: #70737c14;
  --line-neutral: #70737c29;
  --line-normal: #70737c38;
  --line-strong: #70737c85;
  --material-dimmer: #17171985;
  --primary-main: #05da5b;
  --primary-sub: #ff9b38;
  --static-black: #000000;
  --static-white: #ffffff;
}
/* .Primitive: Colors */
:root {
  --blue-30: #0648aa;
  --blue-50: #1869e2;
  --blue-70: #acdeff;
  --common-0: #000000;
  --common-100: #ffffff;
  --cool-neutral-10: #171719;
  --cool-neutral-20: #292a2d;
  --cool-neutral-30: #46474c;
  --cool-neutral-40: #5a5c63;
  --cool-neutral-50: #70737c;
  --cool-neutral-60: #878a93;
  --cool-neutral-70: #989ba2;
  --cool-neutral-80: #aeb0b6;
  --cool-neutral-90: #c2c4c8;
  --cool-neutral-95: #dbdcdf;
  --cool-neutral-96: #e1e2e4;
  --cool-neutral-97: #eaebec;
  --cool-neutral-98: #f4f4f5;
  --cool-neutral-99: #f7f7f8;
  --green-10: #00240c;
  --green-20: #004517;
  --green-30: #006e25;
  --green-40: #009632;
  --green-50: #00bf40;
  --green-60: #05da5b;
  --green-70: #54e64c;
  --green-80: #83f57d;
  --green-90: #b0fcac;
  --green-95: #ddffd9;
  --green-99: #f2fff6;
  --neutral-10: #171717;
  --neutral-15: #1c1c1c;
  --neutral-20: #2a2a2a;
  --neutral-22: #303030;
  --neutral-30: #474747;
  --neutral-40: #5c5c5c;
  --neutral-5: #0f0f0f;
  --neutral-50: #737373;
  --neutral-60: #8a8a8a;
  --neutral-70: #9b9b9b;
  --neutral-80: #b0b0b0;
  --neutral-90: #c4c4c4;
  --neutral-95: #dcdcdc;
  --neutral-99: #f2f2f2;
  --orange-10: #361e00;
  --orange-20: #663a00;
  --orange-30: #9c5800;
  --orange-40: #d47800;
  --orange-50: #f68d00;
  --orange-60: #ff9b38;
  --orange-70: #ffb657;
  --orange-80: #ffd49c;
  --orange-90: #fee6c6;
  --orange-95: #fef4e6;
  --orange-99: #fffcf7;
  --red-10: #3b0101;
  --red-20: #730303;
  --red-30: #b00c0c;
  --red-40: #e52222;
  --red-50: #ff4242;
  --red-60: #ff6363;
  --red-70: #ff8c8c;
  --red-80: #ffb5b5;
  --red-90: #fed5d5;
  --red-95: #feecec;
  --red-99: #fffafa;
}
